body {
  background-color: #ffffff;
  background-image: url();
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #000000;
  display: block;
}

header {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  top: 0;
  left: -0.2rem;
  margin: 0;
  padding: 0rem;
  height: 9rem;
  position: fixed;
  z-index: 999;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 1.5s ease;
}

a:hover {
  color: burlywood;
  background-color: black;
}

.header-text {
  display: inline-block;
  font-family: 'Prata', serif;
  font-size: 50px;
  color: #ffffff;
  z-index: 999;
  justify-content: center;
  padding: 0.5em;
  padding-left: 28%;
  margin: 0.5em auto;
}


header h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


nav {
  font-family: 'Raleway', sans-serif;
  background-color: #000000;
  align-content: center;
  text-align: center;
  height: 2rem;
  top: 9rem;
  left: -0.2rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  color: #FFFFFF;
  font-size: 1rem;
  padding-top: 0.5rem;
}

main {
  padding-top: 5rem;
  margin-top: 10rem;
}

h2 {
  font-family: 'Prata', serif;
  font-size: 48px;
  color: #000000;
  text-align: center;
  margin: -1rem;
  padding: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

h4 {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Prata', serif;
}

.about {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
}

img.about {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto 
}
.quote {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* clear:both keeps footer from nesting in between articles */
footer {
  clear: both;
  width: 100%;
  bottom: -2rem;
  background-color: #FFFFFF;
  color: #000000;
  z-index: 999;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-align: center;
}

footer h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #000000;
  align-items: center;
}

footer a {
  color: darkblue;
  padding: 1rem;
}

.main-img {
  width: 100%;
  align-content: center;
  top: 6rem;
  clip: rect(150px, 0px, 150px, 0px);
}

.jump {
    background-color: #000000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.jump {
    background-color: #000000; 
    color: #FFFFFF; 
    border: 2px solid #000000;
    justify-content: center;
}

.jump:hover {
    background-color: black;
    color: bisque;
}

p {
  font-size: 16px;
  text-align: center; 
  padding: 0.5rem;
}

.picture {
  width: 50%;
  float: left;
  clear: left;
  display: block;
  overflow: hidden;
}

section {
  border: 1px solid black;
  margin: 0.2em;
}

.section-group {
  font-family: 'Raleway', sans-serif;
  justify-content: space-around;
  font-size: 1.2rem;
}

.section-group a{
  color: black;
}

.clearfix {
  overflow: hidden;
}

#map {
   width: 90%;
   height: 300px;
   align-content: center;
   background-color: white;
   border: 1px black solid;
 }

.span_1_of_3 {
  background-color: black;
  color: white;
}

/* grid for classes page */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

